<div class="jumbotron">
  <h1>ひとこと日記</h1>
  <div class="col-lg-6 col-lg-offset-1">
    By <%= link_to current_user.email, edit_user_registration_path, :class => 'navbar-link' %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link btn btn-default btn-xs'  %>
  </div>
</div>
<%= form_for (@diary), :html => {:class => 'form-horizontal'} do |f| %>
  <fieldset>
    <div class="form-group">
      <div class="col-lg-4 col-lg-offset-1">
        <%= f.text_area :word, :class=>"form-control", :size => "40x3", :id=>"textArea", :placeholder=>@diary.word %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-4 col-lg-offset-1">
        <%= f.datetime_local_field :write_datetime, :class=>"form-control" %>
      </div>
    </div>
    <div class="col-lg-4 col-lg-offset-1">
      <div class="form-group pull-right">
        <%= link_to '削除', @diary, method: :delete, :class=>"btn btn-danger btn-lg", data: { confirm: '本当に削除していいですか？' } %>
        <%= f.submit "書く", :class=>"btn btn-primary btn-lg" %>
      </div>
    </div>
  </fieldset>
<% end %>

<%= link_to 'Back', diaries_path %>
